*{
    box-sizing: border-box;
}
body{
    /* Took this part from my tip calculator section and replaced the photo*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(images/drinks.png);
    background-size: cover; /*This property/value pair tells the browser to scale the background image proportionally so that its width and height are equal to, or greater than, the width/height of the element. - Per https://www.webfx.com/blog/web-design/responsive-background-image/ */
    background-position-x: center; /*incase the img gets scaled up and get distorted (height and width), this will keep it center*/
    background-position-y: center; /*incase the img gets scaled up and get distorted (height and width), this will keep it center*/
    background-attachment: fixed; /*to prevent the photo from scrolling on the page or img ending before page does*/
    background-repeat: no-repeat; /*to prevent the photo from repeating on the screen*/
    font-family: 'Shadows Into Light', cursive;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
.container{
    display: flex; /* makes the photos side by side */
    width: 90vh; /* container will not take too much space */
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; 
    border-radius: 50px;
    flex: 0.5; /* flexbox allows the container/panel to stretch the photos/items uniformally on the page */
    position: relative; 
    transition: flex 0.5 ease-in; /* an effect to happen when the photos transitions and ease in at .5 seconds  */
    color: white; /* text colors w/ the photos  */
    cursor: pointer;
    margin: 10px; /* creates a space/gap between all the photos  */
}
.panel h3{ /* these are the photo tags/descriptions  */
    position: absolute;
    bottom: 20px;
    left: 20px; /* moving the description to the bottom left */
    opacity: 0; /* the text will not be visible */
}
.panel.active{ /* when the panel is active  */
    flex:5; /* make only one of the photos larger than the rest when selected */
}
.panel.active h3{ /* show the description only on the active photo  */
    opacity: 1;
}

@media(max-width:480px){ /* if the device screen is smaller than 480px  */
    .container{
        width: 100vh;
    }
    .panel:nth-last-of-type(3),.panel:nth-last-of-type(4){ /* how many photos do we want to display */
        display: none;
    }
}