*{
    box-sizing: border-box;
}
h1 {
	align-items: center; /*(recomended)*/
    display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
    font-size: 20px;
    /* made my own adjustments so I could display text at the top and center it. */
}
body{
    /* Took this part from my tip calculator section and replaced the photo*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(images/drinks.png);
    background-size: cover; /*This property/value pair tells the browser to scale the background image proportionally so that its width and height are equal to, or greater than, the width/height of the element. - Per https://www.webfx.com/blog/web-design/responsive-background-image/ */
    background-position-x: center; /*incase the img gets scaled up and get distorted (height and width), this will keep it center*/
    background-position-y: center; /*incase the img gets scaled up and get distorted (height and width), this will keep it center*/
    background-attachment: fixed; /*to prevent the photo from scrolling on the page or img ending before page does*/
    background-repeat: no-repeat; /*to prevent the photo from repeating on the screen*/
    font-family: 'Shadows Into Light', cursive;
    overflow: hidden;
    justify-content: center;
    margin: 10;
    min-height: 100vh;
    display: flexbox; /* changed this from flex to flexbox*/
    align-items: center;
}
.container{
    display: flex; /* makes the photos side by side */
    width: 90vh; /* container will not take too much space */
    max-width: 100%;
    padding: 5px;
    margin: 0 auto;
    /* included code line 27-29 to prevent display flex from including h1 */
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh; /* his set height */
    border-radius: 50px;
    flex: 0.5; /* flexbox allows the container/panel to stretch the photos/items uniformally on the page */
    position: relative; 
    transition: flex 0.5s ease-in; /* an effect to happen when the photos transitions and ease in at .5 seconds  */
    /* color: rgb(7, 4, 4); text colors w/ the photos  
    can disregard as links on photos have set colors now */
    cursor: pointer;
    margin: 10px; /* creates a space/gap between all the photos  */
}
.panel h3{ /* these are the photo tags/descriptions  */
    position: absolute;
    bottom: 20px;
    left: 20px; /* moving the description of the photo to the bottom left and how far from the border the text will be */
    opacity: 0; /* the text will not be visible */
}
.panel.active{ /* when the panel is active  */
    flex:5; /* make only one of the photos larger than the rest when selected */
}
.panel.active h3{ /* show the description only on the active photo  */
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s; /* setting the transition of the h3 tag */
}
 /* unvisited link */
 a:link {
    color: rgb(221, 14, 14);
  }
  
  /* visited link */
  a:visited {
    color: rgb(238, 67, 238);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: rgb(119, 111, 111);
  } 
@media(max-width:480px){ /* if the device screen is smaller than 480px  */
    .container{
        width: 100vh;
    }
    .panel:nth-last-of-type(3),.panel:nth-last-of-type(4){ /* how many photos do we want to display  */
        display: none;
    }
}